@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Roboto:wght@100;300;400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #408aca;

}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 300;
  animation: in 0.5s forwards
}

.nav-link:hover {
  color: #F7B64F;
  animation: out 0.5s forwards;
}

.cart-icon {
  width: 32px;
  background: none;
}

.brand-icon {
  width: 155.30px;
  animation: in 0.5s forwards
}

.brand-icon:hover {
  animation: out 0.5s forwards;
}

.btn-counter {
  background-color: #408aca;
  color: #ffffff;
  border-radius: 3px;
  border-color: #ffffff;
  box-shadow: 0px 5px 5px 0px rgba(78, 78, 78, 0.699);

}

.light-shadows {
  box-shadow: 0px 5px 5px 0px rgba(78, 78, 78, 0.699);
}

.btn-counter:hover {
  background-color: #F7B64F;
  color: #ffffff;
  border-color: #ffffff;
}

.btn-counter:active {
  background-color: #F7B64F;
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-primary {
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffab23;
  --bs-btn-active-border-color: #ffffff;
}

@keyframes in {
  from {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }

}

@keyframes out {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

#cart-btn {
  width: 42px;
  height: 42px;
}

.btn-custom {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: rgb(255, 255, 255);
  --bs-btn-hover-color: #408aca;
  --bs-btn-hover-bg: #F7B64F;
  --bs-btn-hover-border-color: 408aca;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: rgb(207, 207, 207);
  --bs-btn-active-bg: #408aca;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-active-shadow: inset 0 1px 5pxrgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: 408aca;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffffff;
  --bs-gradient: none;

}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("../public/img/nav-toggler.svg");
}

.navbar {
  --bs-navbar-active-color: #ffab23;
}

footer {
  height: 20vh;
}


.text-footer-brand {
  font-family: 'Comfortaa', cursive;
  font-size: 1.8rem;
  font-weight: 500;
  color: #ffffff;
}

.footer-icon {
  width: 35px;
}

.text-footer {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
}

footer ul {
  list-style: none;
}

.text-footer-small {
  font-size: 0.9rem;
}

.card-body {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.text-basic {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.text-precio {

  color: #ffab23;
  font-size: 1.5rem;
}

.img-item {
  box-shadow: 4px 4px 4px 0px rgba(78, 78, 78, 0.699);
  z-index: +50;
}

img.card {
  background-color: none;
}

.error {
  color: #ffab23;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}