@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Roboto:wght@100;300;400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;


}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 300;
  animation: in 0.5s forwards
}

.nav-link:hover {
  color: #F7B64F;
  animation: out 0.5s forwards;
}

.cart-icon {
  width: 32px;
  background: none;

}

.brand-icon {
  width: 155.30px;
  animation: in 0.5s forwards
}

.brand-icon:hover {
  animation: out 0.5s forwards;
}



.button-agregar {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-agregar:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-agregar {
    padding: 10px 30px;
  }
}

.light-shadows {
  box-shadow: 0px 5px 5px 0px rgba(78, 78, 78, 0.699);
}

.btn-counter {
  color: #747474;
  border-radius: 3px;
  border-color: #ffffff;
  background-color: rgb(204, 204, 204);
  border: 1px solid #ffffff;
  font-weight: 700;
}

.btn-counter:hover {
  background-color: #F7B64F;
  border-color: #ffffff;

}

.btn-counter:active {
  background-color: #F7B64F;
}

.btn-outline-primary {
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffab23;
  --bs-btn-active-border-color: #ffffff;
}

@keyframes in {
  from {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }

}

@keyframes out {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

#cart-btn {
  width: 42px;
  height: 42px;
}

.btn-custom {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: #e6e6e6;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #F7B64F;
  --bs-btn-hover-border-color: #F7B64F;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: rgb(207, 207, 207);
  --bs-btn-active-bg: #F7B64F;
  --bs-btn-active-border-color: #F7B64F;
  --bs-btn-disabled-color: 408aca;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffffff;
  --bs-gradient: none;

}

.nav-container {
  box-shadow: 0 0 5px rgb(0, 0, 0);
  background-color: #408acac5;
  backdrop-filter: blur(5px)
}

.navbar {
  --bs-navbar-active-color: #ffab23;
}

nav div button.navbar-toggler span.navbar-toggler-icon {
  background-image: url(../public/img/nav-toggler.svg);
}

footer {
  height: 20vh;
  background-color: #408aca;
}

.text-footer-brand {
  font-family: 'Comfortaa', cursive;
  font-size: 1.8rem;
  font-weight: 500;
  color: #ffffff;
}

.footer-icon {
  width: 35px;
}

.text-footer {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
}

footer ul {
  list-style: none;
}

.text-footer-small {
  font-size: 0.9rem;
}

.card-body {
  color: #5c5c5c;
  font-family: 'Roboto', sans-serif;
}

.text-basic {
  color: #5c5c5c;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.text-precio {

  color: #ffab23;
  font-size: 1.5rem;
}

img.card {
  background-color: none;
}

.error {
  color: #ffab23;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}